:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  padding: 401px;
  font-weight: 400;
  background-color: var(--Light-Gray);
}

.container {
  display: grid;
  row-gap: 0;
  column-gap: 0;
  grid-template-rows: 225px 261px;
}

.row-one {
}

.row-one_title {
  color: var(--Cyan);
}

.row-one_subtitle {
  color: var(--Bright-Yellow);
}

.row-one_excerpt {
  color: var(--Grayish-Blue);
}

.row-two {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Light-Gray);
}

.column {
}

.row-two_firstcolumn {
  background-color: var(--Cyan);
}

.row-two_secondcolumn {
  background-color: var(--Grayish-Blue);
}

.row-two_firstcolumn__title {
}

.row-two_firstcolumn__price {
}

.row-two_firstcolumn__text {
}

button {
  background-color: var(--Bright-Yellow);
  color: var(--Light-Gray);
}
