:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--Light-Gray);
  margin: 0px auto;
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 3em 0em;
  place-content: center;
}

.row-one {
  background-color: white;
  border-radius: 9px 9px 0px 0px;
  padding: 0em 2.5em;
}

.row-one_title {
  color: var(--Cyan);
  padding: 2em 0em 1em 0em;
  margin: 0em;
  font-size: 1.5em;
}

.row-one_subtitle {
  color: var(--Bright-Yellow);
  padding: 1em 0em;
  margin: 0em;
  font-size: 1.125em;
}

.row-one_excerpt {
  color: var(--Grayish-Blue);
  padding-top: 1em;
  margin: 0px;
  width: 58ch;
  line-height: 1.5;
}

.row-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--Light-Gray);
}

.column-one {
  background-color: var(--Cyan);
  padding: 2em 2.5em;
  border-radius: 0px 0px 0px 9px;
}

.column-one-title {
  padding-bottom: 1.37em;
  margin: 0px;
  font-size: 18px;
}

.price-info {
  display: flex;
  gap: 1.06em;
  padding-bottom: 1.37em;
  align-items: center;
}

.price {
  margin: 0em;
  font-size: 2em;
  font-weight: 700;
}

.price2 {
  margin: 0em;
  opacity: 0.75;
}

.column-one-excerpt {
  padding-bottom: 2em;
  margin: 0px;
  font-size: 16px;
}

button {
  background-color: var(--Bright-Yellow);
  color: var(--Light-Gray);
  border-style: none;
  padding: 0em 5.62em;
  height: 3em;
  border-radius: 6px;
  font-weight: 700;
}

.column-two {
  background-color: var(--Cyan);
  padding: 2em 2.5em;
  border-radius: 0px 0px 9px 0px;
  opacity: 0.8;
}

.column-two-title {
  padding-bottom: 1.37em;
  margin: 0px;
  font-size: 1.125em;
}

.column-two-list {
  margin: 0px;
  list-style: none;
  font-size: 0.87em;
  padding: 0em;
  line-height: 1.3;
}

@media only screen and (max-width: 1024px) {
  .row-one {
  }
  .row-two {
    grid-template-columns: 1fr;
  }

  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .row-two_secondcolumn {
    border-radius: 0px 0px 9px 9px;
  }

  .row-two_firstcolumn {
    border-radius: 0px 0px 0px 0px;
  }

  body {
    -ms-overflow-style: none;
  }
}
